@{
    ViewData["Title"] = "Contact Page";
}

<main>
<section class="contacts">
<div class="contacts__container container">
<div class="contacts__title">Контакты</div>
<div class="contacts__text">Г.Москва ул.Студенческая д.35/8</div>
<div class="contacts__text">Телефон: 8-999-672-48-77</div>
<div class="contacts__text">E-mail: brotherskamabo@gmail.com</div>
<div class="about__image">
<picture><source srcset="~/img/footer/vk.webp" type="image/webp"><img src="~/img/footer/vk.png" alt="error"></picture>
<picture><source srcset="~/img/footer/insta.webp" align=”right” type="image/webp"><img src="~/img/footer/insta.png" alt="error"></picture>
</div>
</div>
</section>
<main>