@{
    ViewData["Title"] = "Home Page";
}
<main>
         <section class="start">
            <div class="start__container container">
               <div class="start__content content-start">
                  <div class="content-start__text">Хочешь приготовить вкусную домашнюю еду? <br> Вперед к
                     кулинарным свершениям!</div>
                  <a href="#" class="content-start__link">Выбрать рецепт<span></span></a>
               </div>
               <div class="start__image">
                  <picture><source srcset="img/content/start.webp" type="image/webp"><img src="img/content/start.png" alt="start"></picture>
               </div>
            </div>
         </section>
         <section class="sign-question">
            <div class="sign-question__container container">
               <div class="sign-question__head head-sign-question">
                  <div class="head-sign-question__text title-text">Ещё не зарегистрирован?</div>
                  <div class="head-sign-question__image">
                     <picture><source srcset="img/content/question.webp" type="image/webp"><img src="img/content/question.png" alt="question"></picture>
                  </div>
               </div>
               <div class="sign-question__body body-sign-question">
                  <div class="body-sign-question__title title-text">Посмотри, какие у тебя появятся возможности</div>
                  <div class="body-sign-question__content content-sign-question">
                     <div class="content-sign-question__item item-question">
                        <div class="item-question__image">
                           <picture><source srcset="img/content/question1.webp" type="image/webp"><img src="img/content/question1.png" alt="question"></picture>
                        </div>
                        <div class="item-question__name height-function">Библиотека рецептов</div>
                        <div class="item-question__desc">Храните свои любимые рецепты, что бы никогда не забыть. </div>
                     </div>
                     <div class="content-sign-question__item item-question">
                        <div class="item-question__image">
                           <picture><source srcset="img/content/question2.webp" type="image/webp"><img src="img/content/question2.png" alt="question"></picture>
                        </div>
                        <div class="item-question__name height-function">Добавление собственного рецепта</div>
                        <div class="item-question__desc">Вы можете добавить собственный рецепт в личном
                           кабинете,заполнив соответствующую форму</div>
                     </div>
                     <div class="content-sign-question__item item-question">
                        <div class="item-question__image">
                           <picture><source srcset="img/content/question3.webp" type="image/webp"><img src="img/content/question3.png" alt="question"></picture>
                        </div>
                        <div class="item-question__name height-function">Будьте всегда в форме</div>
                        <div class="item-question__desc">Вы можете в настройках аккаунта выставить,какие продукты вам
                           можно употреблять, а какие нужно исключить</div>
                     </div>
                  </div>
                  <a class="body-sign-question__button" href="#">Узнать о истории нашей компании</a>
               </div>
            </div>
         </section>
         <section class="popular">
            <div class="popular__container container">
               <h2 class="popular__title">Популярные рецепты</h2>
               <div class="popular__content content-popular">
                  <div class="content-popular__item item-popular">
                     <h3 class="item-popular__title">Греческий салат</h3>
                     <div class="item-popular__about about-popular">
                        <div class="about-popular__info info-popular">
                           <div class="info-popular__time">15 Минут</div>
                           <div class="info-popular__person">Персоны: 2 человека</div>
                           <div class="info-popular__level green">Уровень:</div>
                        </div>
                        <div class="about-popular__text">Садовый салат, обычно приготовленный из нарезанной салатной
                           зелени,
                           помидоров, хрустящего бекона, сваренных вкрутую яиц, авокадо, зеленого лука, голубого сыра и
                           винегрета из красного вина</div>
                     </div>
                     <div class="item-popular__image">
                        <picture><source srcset="img/content/salad.webp" type="image/webp"><img src="img/content/salad.png" alt="salad"></picture>
                     </div>
                     <div class="item-popular__star abs">4.7</div>
                  </div>
                  <div class="content-popular__item item-popular">
                     <h3 class="item-popular__title">Греческий салат</h3>
                     <div class="item-popular__about about-popular">
                        <div class="about-popular__info info-popular">
                           <div class="info-popular__time">15 Минут</div>
                           <div class="info-popular__person">Персоны: 2 человека</div>
                           <div class="info-popular__level green">Уровень:</div>
                        </div>
                        <div class="about-popular__text">Садовый салат, обычно приготовленный из нарезанной салатной
                           зелени,
                           помидоров, хрустящего бекона, сваренных вкрутую яиц, авокадо, зеленого лука, голубого сыра и
                           винегрета из красного вина</div>
                     </div>
                     <div class="item-popular__image">
                        <picture><source srcset="img/content/salad.webp" type="image/webp"><img src="img/content/salad.png" alt="salad"></picture>
                     </div>
                     <div class="item-popular__star abs">4.7</div>
                  </div>
                  <div class="content-popular__item item-popular">
                     <h3 class="item-popular__title">Греческий салат</h3>
                     <div class="item-popular__about about-popular">
                        <div class="about-popular__info info-popular">
                           <div class="info-popular__time">15 Минут</div>
                           <div class="info-popular__person">Персоны: 2 человека</div>
                           <div class="info-popular__level green">Уровень:</div>
                        </div>
                        <div class="about-popular__text">Садовый салат, обычно приготовленный из нарезанной салатной
                           зелени,
                           помидоров, хрустящего бекона, сваренных вкрутую яиц, авокадо, зеленого лука, голубого сыра и
                           винегрета из красного вина</div>
                     </div>
                     <div class="item-popular__image">
                        <picture><source srcset="img/content/salad.webp" type="image/webp"><img src="img/content/salad.png" alt="salad"></picture>
                     </div>
                     <div class="item-popular__star abs">4.7</div>
                  </div>
                  <div class="content-popular__item item-popular">
                     <h3 class="item-popular__title">Греческий салат</h3>
                     <div class="item-popular__about about-popular">
                        <div class="about-popular__info info-popular">
                           <div class="info-popular__time">15 Минут</div>
                           <div class="info-popular__person">Персоны: 2 человека</div>
                           <div class="info-popular__level green">Уровень:</div>
                        </div>
                        <div class="about-popular__text">Садовый салат, обычно приготовленный из нарезанной салатной
                           зелени,
                           помидоров, хрустящего бекона, сваренных вкрутую яиц, авокадо, зеленого лука, голубого сыра и
                           винегрета из красного вина</div>
                     </div>
                     <div class="item-popular__image">
                        <picture><source srcset="img/content/salad.webp" type="image/webp"><img src="img/content/salad.png" alt="salad"></picture>
                     </div>
                     <div class="item-popular__star abs">4.7</div>
                  </div>
                  <div class="content-popular__item item-popular">
                     <h3 class="item-popular__title">Греческий салат</h3>
                     <div class="item-popular__about about-popular">
                        <div class="about-popular__info info-popular">
                           <div class="info-popular__time">15 Минут</div>
                           <div class="info-popular__person">Персоны: 2 человека</div>
                           <div class="info-popular__level green">Уровень:</div>
                        </div>
                        <div class="about-popular__text">Садовый салат, обычно приготовленный из нарезанной салатной
                           зелени,
                           помидоров, хрустящего бекона, сваренных вкрутую яиц, авокадо, зеленого лука, голубого сыра и
                           винегрета из красного вина</div>
                     </div>
                     <div class="item-popular__image">
                        <picture><source srcset="img/content/salad.webp" type="image/webp"><img src="img/content/salad.png" alt="salad"></picture>
                     </div>
                     <div class="item-popular__star abs">4.7</div>
                  </div>
                  <div class="content-popular__item item-popular">
                     <h3 class="item-popular__title">Греческий салат</h3>
                     <div class="item-popular__about about-popular">
                        <div class="about-popular__info info-popular">
                           <div class="info-popular__time">15 Минут</div>
                           <div class="info-popular__person">Персоны: 2 человека</div>
                           <div class="info-popular__level green">Уровень:</div>
                        </div>
                        <div class="about-popular__text">Садовый салат, обычно приготовленный из нарезанной салатной
                           зелени,
                           помидоров, хрустящего бекона, сваренных вкрутую яиц, авокадо, зеленого лука, голубого сыра и
                           винегрета из красного вина</div>
                     </div>
                     <div class="item-popular__image">
                        <picture><source srcset="img/content/salad.webp" type="image/webp"><img src="img/content/salad.png" alt="salad"></picture>
                     </div>
                     <div class="item-popular__star abs">4.7</div>
                  </div>
               </div>
               <a href="#" class="popular__more">Показать ещё</a>
            </div>
         </section>
         <section class="reviews">
            <div class="reviews__container container">
               <div class="reviews__title">Отзывы наших пользователей</div>
               <div class="reviews__content slider">
                  <div class="slider__item item-slider">
                     <div class="item-slider__info info-slider">
                        <div class="info-slider__person person-info">
                           <div class="person-info__image">
                              <picture><source srcset="img/content/user.webp" type="image/webp"><img src="img/content/user.png" alt="user"></picture>
                           </div>
                           <div class="person-info__user user-info">
                              <div class="user-info__name">Анна Сергеевна</div>
                              <div class="user-info__job">Домохозяйка</div>
                           </div>
                        </div>
                        <div class="info-slider__text">Выбирая из доступного каталога, я наткнулась на рецепт фирменных
                           фрикаделек от Захара. Я сначала подумала,что этот рецепт не для моего уровня... Ну знаете,
                           сразу представила себе в голове, что только продукты зря переведу и что мои домочатцы во мне
                           опять разочаруются. Но как бы ни так. Ведь не только...</div>
                     </div>
                     <div class="item-slider__image">
                        <picture><source srcset="img/content/slider.webp" type="image/webp"><img src="img/content/slider.png" alt="slider"></picture>
                     </div>
                  </div>
                  <div class="slider__item item-slider">
                     <div class="item-slider__info info-slider">
                        <div class="info-slider__person person-info">
                           <div class="person-info__image">
                              <picture><source srcset="img/content/user.webp" type="image/webp"><img src="img/content/user.png" alt="user"></picture>
                           </div>
                           <div class="person-info__user user-info">
                              <div class="user-info__name">Анна Сергеевна</div>
                              <div class="user-info__job">Домохозяйка</div>
                           </div>
                        </div>
                        <div class="info-slider__text">Выбирая из доступного каталога, я наткнулась на рецепт фирменных
                           фрикаделек от Захара. Я сначала подумала,что этот рецепт не для моего уровня... Ну знаете,
                           сразу представила себе в голове, что только продукты зря переведу и что мои домочатцы во мне
                           опять разочаруются. Но как бы ни так. Ведь не только...</div>
                     </div>
                     <div class="item-slider__image">
                        <picture><source srcset="img/content/slider.webp" type="image/webp"><img src="img/content/slider.png" alt="slider"></picture>
                     </div>
                  </div>
                  <div class="slider__item item-slider">
                     <div class="item-slider__info info-slider">
                        <div class="info-slider__person person-info">
                           <div class="person-info__image">
                              <picture><source srcset="img/content/user.webp" type="image/webp"><img src="img/content/user.png" alt="user"></picture>
                           </div>
                           <div class="person-info__user user-info">
                              <div class="user-info__name">Анна Сергеевна</div>
                              <div class="user-info__job">Домохозяйка</div>
                           </div>
                        </div>
                        <div class="info-slider__text">Выбирая из доступного каталога, я наткнулась на рецепт фирменных
                           фрикаделек от Захара. Я сначала подумала,что этот рецепт не для моего уровня... Ну знаете,
                           сразу представила себе в голове, что только продукты зря переведу и что мои домочатцы во мне
                           опять разочаруются. Но как бы ни так. Ведь не только...</div>
                     </div>
                     <div class="item-slider__image">
                        <picture><source srcset="img/content/slider.webp" type="image/webp"><img src="img/content/slider.png" alt="slider"></picture>
                     </div>
                  </div>
                  <div class="slider__item item-slider">
                     <div class="item-slider__info info-slider">
                        <div class="info-slider__person person-info">
                           <div class="person-info__image">
                              <picture><source srcset="img/content/user.webp" type="image/webp"><img src="img/content/user.png" alt="user"></picture>
                           </div>
                           <div class="person-info__user user-info">
                              <div class="user-info__name">Анна Сергеевна</div>
                              <div class="user-info__job">Домохозяйка</div>
                           </div>
                        </div>
                        <div class="info-slider__text">Выбирая из доступного каталога, я наткнулась на рецепт фирменных
                           фрикаделек от Захара. Я сначала подумала,что этот рецепт не для моего уровня... Ну знаете,
                           сразу представила себе в голове, что только продукты зря переведу и что мои домочатцы во мне
                           опять разочаруются. Но как бы ни так. Ведь не только...</div>
                     </div>
                     <div class="item-slider__image">
                        <picture><source srcset="img/content/slider.webp" type="image/webp"><img src="img/content/slider.png" alt="slider"></picture>
                     </div>
                  </div>
                  <div class="slider__item item-slider">
                     <div class="item-slider__info info-slider">
                        <div class="info-slider__person person-info">
                           <div class="person-info__image">
                              <picture><source srcset="img/content/user.webp" type="image/webp"><img src="img/content/user.png" alt="user"></picture>
                           </div>
                           <div class="person-info__user user-info">
                              <div class="user-info__name">Анна Сергеевна</div>
                              <div class="user-info__job">Домохозяйка</div>
                           </div>
                        </div>
                        <div class="info-slider__text">Выбирая из доступного каталога, я наткнулась на рецепт фирменных
                           фрикаделек от Захара. Я сначала подумала,что этот рецепт не для моего уровня... Ну знаете,
                           сразу представила себе в голове, что только продукты зря переведу и что мои домочатцы во мне
                           опять разочаруются. Но как бы ни так. Ведь не только...</div>
                     </div>
                     <div class="item-slider__image">
                        <picture><source srcset="img/content/slider.webp" type="image/webp"><img src="img/content/slider.png" alt="slider"></picture>
                     </div>
                  </div>
               </div>
            </div>
         </section>
      </main>