@{
ViewData["Title"] = "О нас";
}
<main>
<section class="about">
<div class="about__container container">
<div class="about__title">У Захара дома</div>
<div class="about__content">
<div class="about__text-block">
<div class="about__text">Креативная группа шеф-поваров,
которая обожает создавать новые
рецепты для тебя и твоей семьи.</div>
<div class="about__text">Уже сейчас наша команда
составляет около 50-ти человек , и
каждый из них готов помочь тебе
в создании вкуснейшего ужина.</div>
<div class="about__text">Не знаешь, что приготовить сегодня
вечером? Просто посмотри наши
рецепты, и вдохновение сразу же
посетит тебя!</div></div>
<div class="about__image">
<picture><source srcset="~/img/content/about.webp" width="523" height="426" align="right" type="image/webp"><img src="~/img/content/about.png" alt="error"></picture>
</div>
</div>
</div>
</section>
<main>