@{
    ViewData["Title"] = "Recipes Page";
}
      <main>
         <section class="catalog">
            <div class="catalog__container container">
               <div class="catalog__head head-catalog">
                  <div class="head-catalog__filter">
                     <button>по популярности</button>
                     <button>по рейтингу</button>
                     <button>по кол-ву ингридиентов</button>
                     <button>по сложности</button>
                     <button>по названию</button>
                  </div>
                  <div class="head-catalog__search">
                     <form class="search-form">
                        <button class="input" type="submit" value="" id="subscribe_form" name="submit"></button>
                        <input class="search" type="text" name="search" placeholder="Введите название..">
                     </form>
                  </div>
               </div>
               <div class="catalog__body body-catalog">
                  <div class="body-catalog__title">Каталог рецептов</div>
                  <div class="body-catalog__content content-catalog">
                     <div class="content-catalog__body body-catalog-menu">
                        <a href="/Home/Inf_dish" class="body-catalog-menu__item item-catalog">
                           <div class="item-catalog__image">
                              <picture><source srcset="~/img/content/salad.webp" type="image/webp"><img src="img/content/salad.png" alt="salad"></picture>
                           </div>
                           <div class="item-catalog__info info-catalog">
                              <div class="item-popular__star">4.7</div>
                              <button class="info-catalog__like"></button>
                           </div>
                           <div class="item-catalog__name">Греческий салат</div>
                        </a>
                        <a href="#" class="body-catalog-menu__item item-catalog">
                           <div class="item-catalog__image">
                              <picture><source srcset="~/img/content/salad.webp" type="image/webp"><img src="img/content/salad.png" alt="salad"></picture>
                           </div>
                           <div class="item-catalog__info info-catalog">
                              <div class="item-popular__star">4.7</div>
                              <button class="info-catalog__like"></button>
                           </div>
                           <div class="item-catalog__name">Греческий салат</div>
                        </a>
                        <a href="#" class="body-catalog-menu__item item-catalog">
                           <div class="item-catalog__image">
                              <picture><source srcset="~/img/content/salad.webp" type="image/webp"><img src="img/content/salad.png" alt="salad"></picture>
                           </div>
                           <div class="item-catalog__info info-catalog">
                              <div class="item-popular__star">4.7</div>
                              <button class="info-catalog__like"></button>
                           </div>
                           <div class="item-catalog__name">Греческий салат</div>
                        </a>
                        <a href="#" class="body-catalog-menu__item item-catalog">
                           <div class="item-catalog__image">
                              <picture><source srcset="~/img/content/salad.webp" type="image/webp"><img src="img/content/salad.png" alt="salad"></picture>
                           </div>
                           <div class="item-catalog__info info-catalog">
                              <div class="item-popular__star">4.7</div>
                              <button class="info-catalog__like"></button>
                           </div>
                           <div class="item-catalog__name">Греческий салат</div>
                        </a>
                        <a href="#" class="body-catalog-menu__item item-catalog">
                           <div class="item-catalog__image">
                              <picture><source srcset="~/img/content/salad.webp" type="image/webp"><img src="img/content/salad.png" alt="salad"></picture>
                           </div>
                           <div class="item-catalog__info info-catalog">
                              <div class="item-popular__star">4.7</div>
                              <button class="info-catalog__like"></button>
                           </div>
                           <div class="item-catalog__name">Греческий салат</div>
                        </a>
                        <a href="#" class="body-catalog-menu__item item-catalog">
                           <div class="item-catalog__image">
                              <picture><source srcset="~/img/content/salad.webp" type="image/webp"><img src="img/content/salad.png" alt="salad"></picture>
                           </div>
                           <div class="item-catalog__info info-catalog">
                              <div class="item-popular__star">4.7</div>
                              <button class="info-catalog__like"></button>
                           </div>
                           <div class="item-catalog__name">Греческий салат</div>
                        </a>
                        <a href="#" class="body-catalog-menu__item item-catalog">
                           <div class="item-catalog__image">
                              <picture><source srcset="~/img/content/salad.webp" type="image/webp"><img src="img/content/salad.png" alt="salad"></picture>
                           </div>
                           <div class="item-catalog__info info-catalog">
                              <div class="item-popular__star">4.7</div>
                              <button class="info-catalog__like"></button>
                           </div>
                           <div class="item-catalog__name">Греческий салат</div>
                        </a>
                        <a href="#" class="body-catalog-menu__item item-catalog">
                           <div class="item-catalog__image">
                              <picture><source srcset="~/img/content/salad.webp" type="image/webp"><img src="img/content/salad.png" alt="salad"></picture>
                           </div>
                           <div class="item-catalog__info info-catalog">
                              <div class="item-popular__star">4.7</div>
                              <button class="info-catalog__like"></button>
                           </div>
                           <div class="item-catalog__name">Греческий салат</div>
                        </a>
                        <a href="#" class="body-catalog-menu__item item-catalog">
                           <div class="item-catalog__image">
                              <picture><source srcset="~/img/content/salad.webp" type="image/webp"><img src="img/content/salad.png" alt="salad"></picture>
                           </div>
                           <div class="item-catalog__info info-catalog">
                              <div class="item-popular__star">4.7</div>
                              <button class="info-catalog__like"></button>
                           </div>
                           <div class="item-catalog__name">Греческий салат</div>
                        </a>
                        <a href="#" class="body-catalog-menu__item item-catalog">
                           <div class="item-catalog__image">
                              <picture><source srcset="~/img/content/salad.webp" type="image/webp"><img src="img/content/salad.png" alt="salad"></picture>
                           </div>
                           <div class="item-catalog__info info-catalog">
                              <div class="item-popular__star">4.7</div>
                              <button class="info-catalog__like"></button>
                           </div>
                           <div class="item-catalog__name">Греческий салат</div>
                        </a>
                        <a href="#" class="body-catalog-menu__item item-catalog">
                           <div class="item-catalog__image">
                              <picture><source srcset="~/img/content/salad.webp" type="image/webp"><img src="img/content/salad.png" alt="salad"></picture>
                           </div>
                           <div class="item-catalog__info info-catalog">
                              <div class="item-popular__star">4.7</div>
                              <button class="info-catalog__like"></button>
                           </div>
                           <div class="item-catalog__name">Греческий салат</div>
                        </a>
                        <a href="#" class="body-catalog-menu__item item-catalog">
                           <div class="item-catalog__image">
                              <picture><source srcset="~/img/content/salad.webp" type="image/webp"><img src="img/content/salad.png" alt="salad"></picture>
                           </div>
                           <div class="item-catalog__info info-catalog">
                              <div class="item-popular__star">4.7</div>
                              <button class="info-catalog__like"></button>
                           </div>
                           <div class="item-catalog__name">Греческий салат</div>
                        </a>
                     </div>
                     <div class="content-catalog__sidebar sidebar-catalog">
                        <div class="sidebar-catalog__head head-catalog">
                           <div class="head-catalog__title">Фильтры</div>
                           <button class="head-catalog__clear">очистить</button>
                        </div>
                        <div class="sidebar-catalog__body body-catalog-sidebar">
                           <div class="body-catalog-sidebar__search">
                              <form class="search-form">
                                 <button class="input" type="submit" value="" id="subscribe_form" name="submit"></button>
                                 <input class="search" type="text" name="search" placeholder="Введите название..">
                              </form>
                           </div>
                           <div class="select" id="food">
                              <button type="button" class="select__toggle" name="food" value="" data-select="toggle"
                                 data-index="-1">Кухня</button>
                              <div class="select__dropdown">
                                 <ul class="select__options">
                                    <li class="select__option" data-select="option" data-value="food-0" data-index="0">
                                       Хуи</li>
                                    <li class="select__option" data-select="option" data-value="food-1" data-index="1">
                                       ХуиХуиХуиХуиХуи</li>
                                    <li class="select__option" data-select="option" data-value="food-2" data-index="2">
                                       Хуи</li>
                                    <li class="select__option" data-select="option" data-value="food-3" data-index="3">
                                       Хуи</li>
                                    <li class="select__option" data-select="option" data-value="food-4" data-index="4">
                                       Хуи</li>
                                 </ul>
                              </div>
                           </div>
                           <div class="body-catalog__block block-catalog">
                              <div class="block-catalog__title">Каллории</div>
                              <div class="block-catalog__content content-block-catalog">
                                 <div class="price-slider-result"><span class="first">0</span><span class="decor"></span><span
                                       class="second">400</span></div>
                                 <div class="price-slider"></div>
                              </div>
                           </div>
                           <div class="body-catalog__block block-catalog">
                              <div class="block-catalog__title">Белки, гр</div>
                              <div class="block-catalog__content content-block-catalog">
                                 <div class="price-slider-result"><span class="first">0</span><span class="decor"></span><span
                                       class="second">400</span></div>
                                 <div class="price-slider"></div>
                              </div>
                           </div>
                           <div class="body-catalog__block block-catalog">
                              <div class="block-catalog__title">Жиры, гр</div>
                              <div class="block-catalog__content content-block-catalog">
                                 <div class="price-slider-result"><span class="first">0</span><span class="decor"></span><span
                                       class="second">400</span></div>
                                 <div class="price-slider"></div>
                              </div>
                           </div>
                           <div class="body-catalog__block block-catalog">
                              <div class="block-catalog__title">Углеводы, гр</div>
                              <div class="block-catalog__content content-block-catalog">
                                 <div class="price-slider-result"><span class="first">0</span><span class="decor"></span><span
                                       class="second">400</span></div>
                                 <div class="price-slider"></div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <a href="#" class="popular__more">Показать ещё</a>
            </div>
         </section>
      </main>