@model project_Zahar_home.Models.LoginModel
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="~/css/style.css">
   <link rel="icon" href="/img/logo/logo.png" type="image/svg">
   <title>Zahar Home</title>
</head>
<body>
   <div class="wrapper">
      <header id="header" class="header lock-padding">
   <div class="header__container container">
      <div class="header__logo"><a href="/Home">
            <picture><source srcset="~/img/logo/logo.webp" type="image/webp"><img src="img/logo/logo.png" alt="logo"></picture>
         </a>
      </div>
      <nav class="header__menu">
         <ul class="header__items">
            <li><a class="menu__link" href="/Recipes/Index">Каталог</a></li>
            <li><a class="menu__link" href="/Home/Info">О нас</a></li>
            <li><a class="menu__link" href="/Home/Error_404">Контакты</a></li>
            <li class="header-link"><a class="menu__link" href="#">
                  <picture><source srcset="~/img/header/darkMode.webp" type="image/webp"><img src="img/header/darkMode.png" alt="darkMode"></picture>
               </a></li>
               @if (!Context.User.Identity.IsAuthenticated){            
                   <li class="header-link"><a class="menu__link popup-link" href ="#popup">

                                     <picture><source srcset="~/img/header/user.webp" type="image/webp"><img src="img/header/user.png" alt="user" ></picture>
               
               </a></li>
               }
               else{            <a href="/Account/Personal_account">
                                <picture><source srcset="~/img/content/user.webp" type="image/webp"><img src="img/content/user.png" alt="user" ></picture>
                                
               </a>}

         </ul>
      </nav>
      <div class="header__burger"><span></span></div>
   </div>
   <div id="popup" class="popup">
      <div class="popup__body">
         <div class="popup__content content-popup">
            <!-- <a href="#" class="popup__close close-popup"></a> Хйня для закрытия попапа, раскомментить -->
            <div class="content-popup__head head-popup">
               <div class="head-popup__logo">
                  <picture><source srcset="~/img/logo/logo.webp" type="image/webp"><img src="img/logo/logo.png" alt="logo"></picture>
               </div>
               <div class="head-popup__title">Zahar Home</div>
            </div>
            <div class="content-popup__body body-popup">
               <div class="body-popup__title">Войти в <span>свой аккаунт</span></div>
               <div class="body-popup__form">
<form asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
     <div class="form-sign">
                     <input class="name place-form" type="text" asp-for="Email" placeholder="Имя пользователя">
                     <input class="pass place-form" type="text" asp-for="Password" placeholder="Пароль">
                     <input class="custom-checkbox know" type="checkbox" id="know" name="know" value="yes">
                     <label class="label" for="know">Запомнить меня</label>
                     <input class="input" type="submit" value="Войти" name="submit">
                     </div>
                     </form>
               </div>
                              

               <a href="/Account/Register" class="body-popup__registration button-reg">Зарегистрироваться</a>
            </div>
         </div>
      </div>
   </div>
</header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
      <footer class="footer">
   <div class="footer__container container">
      <div class="footer__content content-footer">
         <div class="footer__image">
            <picture><source srcset="~/img/logo/logo.webp" type="image/webp"><img src="img/logo/logo.png" alt="logo"></picture>
         </div>
         <div class="footer__links">
            <div class="footer__title">О компании</div>
            <ul class="footer__list">
               <li><a href="#">О нас</a></li>
               <li><a href="#">Контакты</a></li>
            </ul>
         </div>
         <div class="footer__social">
            <div class="footer__title">Следуйте за нами</div>
            <div class="footer-social__content content-social">
               <a href="#" class="content-social__link">
                  <picture><source srcset="~/img/footer/vk.webp" type="image/webp"><img src="img/footer/vk.png" alt="vk"></picture>
               </a>
               <a href="#" class="content-social__link">
                  <picture><source srcset="~/img/footer/insta.webp" type="image/webp"><img src="img/footer/insta.png" alt="insta"></picture>
               </a>
            </div>
         </div>
      </div>
   </div>
   <div class="footer__copy">Copyrights© 2022 Zahar Home Все права защищены.</div>
</footer>
   </div>
   <script src="https://code.jquery.com/jquery-3.6.0.min.js?_v=20220512204129"></script>
   <script src="~/js/app.min.js"></script>
</body>
</html>