@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

      <main>
         <section class="error">
            <div class="error__container container">
               <div class="error__title">Ошибка 404. Нет такой страницы</div>
               <div class="error__text">Возможно прежняя страница удалена или её вообще не существовало</div>
               <div class="error__title">Вы оказались в пустом месте...</div>
               <div class="error__image">
                  <picture><source srcset="img/content/error.webp" type="image/webp"><img src="img/content/error.png" alt="error"></picture>
               </div>
               <div class="error__text">Через 10 сек. вы перенаправитесь на главную страницу сайта</div>
            </div>
         </section>
      </main>