@*@model project_Zahar_home.Models.LoginModel           *@
@page

    <section class="account">
            <div class="account__container container">
               <div class="account__control control-account">
                  <button class="control-account__button">
                     <img src="/img/content/information.png" alt="info">
                  </button>
                      <form action="/Account/СookedDishes" class="form-menu">

@*                  <button class="control-account__button">
                     <img src="/img/content/lover.png" alt="favorite">
                  </button>*@
                      </form>
                  <button class="control-account__button">
                     <img src="/img/content/breakfast.png" alt="">
                  </button>
                                        <form action="/Account/Settings" class="form-menu">
                  <button class="control-account__button">
                     <img src="/img/content/settings.png" alt="settings">
                  </button>
                      </form>
                   <a asp-action="Logout" asp-controller="Account" class="input button-reg" type="submit" name="submit">Выйти из аккаунта</a>
               </div>
               <div class="account__info info-account">
                              
                  <p>Здравствуйте,@ViewBag.pvm.UserName</p>
                  <div class="slider-account">
                     <div class="slider-account__item item-account">
               <div class="account__photo photo-account">
                  <div class="photo-account__image">
                @if (ViewBag.pvm.Path == null)
                {
                    <img src="/img/content/anton.jpg" alt="Photo">
                }
               else
                {
                    <img src="@Url.Content(ViewBag.pvm.Path)" alt="Photo">
                }
            </div>
            <h3>Выберите файл для загрузки</h3>
<form asp-action="AddFile" asp-controller="Account" method="post" enctype="multipart/form-data">
    <input type="file" name="uploadedFile" /><br>
    <input type="submit" value="Загрузить" />
</form>

@*@foreach(var f in Model)
{
    <p><img src="@Url.Content(f.Path)"></p>
}*@
                  <button class="photo-account__change">Изменить фото</button>
               </div>
                     </div>
                     <div class="slider-account__item item-account">

</div>


</div>
                                    </div>
            </div>
                        </div>
                     <div class="slider-account__item item-account">
                         
                                                 </div>
                     <div class="slider-account__item item-account">
                          
                     </div>
                                 </div>
         </section>