@model project_Zahar_home.Views.Account.Personal_accountModel

      <main>
         <section class="registration">
            <div class="registration__container container">
               <div class="registration__content content-registration">
                  <h2 class="dish__title">Аккаунт</h2>
                  <input class="input button-reg" type="submit" value="Выйти из аккаунта" name="submit">
            </div>
         </section>
      </main>
