@page
<div class="container">
@foreach (var us in ViewBag.uvm)
{
    <table>
    <tr>
        <td>Email</td>
    </tr>
    <tr>
        <td>@us.Email</td> 
        <td>
            <a asp-action="Delete" asp-controller="Account" asp-route-id="@us.User_Id" class="input button-reg" type="submit" name="submit">
                Удалить
            </a>
        </td>
    </tr>
    </table>
}
</div>
