@page
<div class="container">
    <h2>Избранные блюда:</h2>
    <table>
    <tr>
        <th>Название блюда</th>
        <th>Сложность</th>
    </tr>
    @foreach (var item in ViewBag.rvm)
{
    <tr>
        <td>@item.Key.Name_Dish</td>
        <td>@item.Key.Level</td>
                <td>
            <a asp-action="DeleteCooked" asp-controller="Account" asp-route-id="@item.Value.Rating_Id" class="input button-del" >
                Удалить
            </a>
        </td>
    </tr>
    }
    </table>